p {
    color: blue;
}

label {
    color:darkgreen;
    
}

* {
    background-color:aliceblue;
}

body {
    background-color: black;
}

h2 {
    text-align: center;
    color: green;
}

#awesome {
    width: 40%;
}